:root {
    --color-white: rgb(255, 255, 255);
    --color-gray: rgb(245, 245, 247);
    --color-black: rgb(29, 29, 31);
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: var(--color-gray);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

svg {
    width: 50px;
    height: 50px;
}

header {
    background-color: var(--color-white);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    gap: 20px;
}

header > .search {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 20px;
    align-items: center;
}

header > .search > svg {
    justify-self: end;
}

header > .search > input {
    border-radius: 10px;
    border: none;
    background-color: var(--color-gray);
    height: 2rem;
    padding-left: 1rem;
}

header .account {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

header .account > svg:first-child{
    align-self: center;
    justify-self: end;
}

header .account > svg:nth-last-child(2){
    place-self: center;
}

header .account > p{
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;
}

header .profile {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

header .profile  > svg{
    width: 100px;
    align-self: center;
    justify-self: end;
    padding-left: 20px;
}

header .profile  > .introduction{
    align-self: center;
    font-weight: 600;
}

header .profile  > .introduction > p:first-child{
    margin-bottom: 0.5rem;
}

header .profile  > .introduction > p:nth-child(2){
    font-size: 2rem;
    margin: 0 0 0.5rem;
}

header .actions {
    display: grid;
}

header .actions > ul {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

header .actions > ul > li{
    font-weight: 600;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    width: 100px;
    padding: 1rem;
    border-radius: 50px;
}

header .actions > ul > li:first-child{
    align-self: center;
    justify-self: end;
}

header .actions > ul > li:nth-child(2){
    place-self: center;
}

header .actions > ul > li:last-child{
    align-self: center;
    justify-self: start;
}

header .actions > ul > li > a{
    color: var(--color-white);
    text-decoration: none;
}

.sidebar {
    background-color: var(--color-black);
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--color-white);
    row-gap: 50px;
}

.sidebar > * {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.sidebar > .dashboard {
    font-size: 1.5rem;
}

main {
    background-color: var(--color-gray);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

main .projects {
    grid-row: 1 / 3;
}

main .announcements {
   
}

.main .trending {
    
}