:root {
    --color-white: rgb(255, 255, 255);
    --color-gray: rgb(245, 245, 247);
    --color-black: rgb(29, 29, 31);
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: var(--color-gray);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

svg {
    width: 50px;
    height: 50px;
}

header {
    background-color: var(--color-white);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

header > .search {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}

header > .search > svg {
    justify-self: end;
}

header > .search > input {
    border-radius: 10px;
    border: none;
    background-color: var(--color-gray);
    height: 2rem;
    padding-left: 1rem;
}

header .account {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header .account > .icons {
    align-self: center;
    justify-self: end;
}

header .account > p{
    align-self: center;
    font-size: 1.5rem;
    font-weight: 600;
}

header .profile {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}

header .profile  > svg{
    width: 100px;
    height: 100px;
    justify-self: end;
    padding-left: 20px;
}

header .profile  > .introduction{
    font-weight: 600;
}

header .profile  > .introduction > .greeting{
    margin-bottom: 0.5rem;
}

header .profile  > .introduction > .profile-name{
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
}

header .actions {
   align-self: center;
}

header .actions > ul {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    gap: 20px;
}

header .actions > ul > li{
    font-weight: 600;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 1rem;
    border-radius: 50px;
}

header .actions > ul > li > a{
    color: var(--color-white);
    text-decoration: none;
}

.sidebar {
    background-color: var(--color-black);
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--color-white);
}

.sidebar > * {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding-bottom: 50px;
}

.sidebar > .dashboard {
    font-size: 1.5rem;
}

.sidebar > * > svg{
    place-self: center;
}

main {
    background-color: var(--color-gray);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

main .projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

main > .projects > h3 {
    margin-top: 0;
    grid-column: 1 / 3;
}

main .projects > .cards-container {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

main .projects > .cards-container > .card{
   background-color: var(--color-white);
   border-radius: 15px;
   padding: 20px;
   border-left: 10px solid var(--color-black);
}

main .projects > .cards-container > .card > .title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0;
}

main .projects > .cards-container > .card > .description{
    margin-top:0;
    color:gray
}

main .projects > .cards-container > .card > .actions {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    justify-items: end;
}

main .projects > .cards-container > .card > .actions > svg{
    width: 2rem;
    height: 2rem;
}

main .announcements > .message-board{
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 15px;
}

main .announcements > .message-board > .message > .title{
    margin-bottom: 0;
    font-weight: 600;
}

main .announcements > .message-board > .message > .body{
    margin-top: 0;
    color:gray
}

main .trending > .profiles-board {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 15px;
}

main .trending > .profiles-board > .profile{
   display: grid;
   grid-template-columns: 1fr 9fr;
}

main .trending > .profiles-board > .profile > svg{
    align-self: center;
    justify-self: end;
 }

 main .trending > .profiles-board > .profile > .description > .name{
    margin-bottom: 0.5rem;
 }

 main .trending > .profiles-board > .profile > .description > .bio{
    margin: 0 0 0.5rem;
    color: gray;
 }

 @media only screen and (max-width: 768px) {

    header .profile  > .introduction > .profile-name{
        font-size: 1.2rem;
    }

    main {
        grid-template-columns: 1fr;
    }
 }